.boxes{
    height: 100vh;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    gap:10px;
    /* justify-content: space-evenly; */
    justify-content: space-evenly;
    align-items: center;
}
.box{
    width: 200px;
    height: 200px;
    background-color: crimson;
    color: aliceblue;
}

.box1{
    background-color: pink;
    /* flex-grow: 3; */
    /* flex-basis: 500px; */
    flex-shrink: 0;
}

