<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="RegisterForm">
        <h1>Add New Student</h1>
        <form action="/add" method="post">
            <div class="textInput">
                <label for="studentName">studentName:</label>
                <input type="text" name="studentName" placeholder="studentName" id="studentName">
            </div>
            <div class="textInput">
                <label for="courseName">courseName:</label>
               <select name="courseName" id="courseName">
                    <option value="tier1">Tier1</option>
                    <option value="tier2">Tier2</option>
                    <option value="tier3">Tier3</option>
               </select>
            </div>
            <div class="textInput">
                <label for="studentAge">StudentAge</label>
                <input type="number" placeholder="Enter your age" name="StudentAge">
            </div>
            <div class="btmButton">
                <button class="btn" type="submit">Add Student</button>
            </div>
        </form>
    </div>
</body>
</html>