*{
    margin: 0;
    padding: 0;
}
.Navbar{
    width: 100vw;
    position: fixed;
    top: 0;
    height: 10vh;
    background-color: rgb(0, 66, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLinks{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.31em;
}